* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    background-color: #09A770;
    color: black;
}

.content-login {
    width: 34%;
    background-color: #374246;
    height: 34vw;
    margin: 9vw auto;
    border-radius: 3vw;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(36, 35, 35, 0.781);
}

.content-login .top {
    margin-bottom: 2vw;
    visibility: hidden;
}

.content-login .form-login h3 {
    height: 4vw;
    font-size: 2em;
    text-align: center;
    color: white;
}

.content-login .form-login .row {
    margin: 2.5vw auto;
    width: 80%;
}

.content-login .form-login .row label {
    display: block;
    font-size: 1.2em;
    color: white;
}

.content-login .form-login .row input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    font-size: 1.5em;
    border-radius: 0.5vw;
    background-color: #cbcecd;
    margin: 0.5vw 0vw;
}

.content-login .form-login .row p.error {
    background-color: rgb(207, 109, 109);
    border-radius: 0.3vw;
    line-height: 1.5vw;
}

.content-login .form-login .row input[type="submit"] {
    width: 35%;
    height: 2.8vw;
    margin: 1vw auto;
    display: block;
    background-color: #A6F5A1;
    border-radius: 0.5vw;
}

.content-login .form-login .row input[type="submit"]:hover {
    background-color: #09A770;
}