* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    background-color: white;
}

header {
    background-color: rgb(5, 158, 5);
    height: 4vw;
}

header .title-page {
    display: inline-block;
    width: 20%;
    text-align: center;
    background-color: rgb(9, 104, 9);
    line-height: 2em;
    height: 4vw;
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
}

header .user {
    float: right;
    margin-right: 2vw;
    line-height: 3em;
}

header .user .user-icon {
    margin-right: 1vw;
}

.content .nav-admin {
    width: 20%;
    float: left;
    height: 100vw;
    background-color: rgb(51, 51, 51);
}

.content .content-admin {
    width: 80%;
    float: left;
}


/*menu chinh*/

.content .nav-admin ul li {
    font-size: 1.1em;
    font-weight: bold;
    height: 4vw;
    line-height: 2.5em;
}

.content .nav-admin ul li a {
    margin-left: 1vw;
    color: white;
}

.content .nav-admin ul li:hover {
    background-color: black;
}


/*noi dung chinh*/

.content .content-admin h3 {
    margin: 1vw 0vw;
}

.content .content-admin .transfer-bar-nav ul li {
    background-color: aqua;
    float: left;
    width: 22%;
    height: 6vw;
    margin-right: 4%;
    border-radius: 5px;
    line-height: 2em;
}

.content .content-admin .transfer-bar-nav ul li:nth-child(4) {
    float: right;
    margin-right: 0px;
}

.content .content-admin .transfer-bar-nav {
    margin-left: 0.3%;
    margin-bottom: 1vw;
}